:root{
    --main-color:rgb(21, 127, 226);
    --main-color-hover:rgba(21, 127, 226, 0.827);
    --text-color-white: rgb(255, 255, 255);
    --text-color-grey: rgb(131, 129, 129);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:link { 
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    text-decoration: none;
}
body, html{
    padding: 1rem;
    height: 100%;
    width: 100%;
}
.profile_container{
    text-align: center;
}
.grid{
    display: grid;   
    gap: 1.5rem; 
}
i{
    padding: 5px;
}
/*#region profile_data*/
.profile_data{
    margin-top: 2rem;
}
.pi-social{
    justify-content: center;  
    grid-template-columns: 4rem 4rem 4rem; 
    margin-top: 2rem;  
    padding: 0;
}
.icon-social{
    font-size: 2rem; 
    color: var(--main-color);
}

/*#endregion profile_data*/

/*#region profile_info*/
.profile_info{
    justify-content: center;
    grid-template-columns: 6rem 6rem 6rem;
}
/*#endregion profile_info*/

/*#region profie_buttons*/
.profie_buttons{
    justify-content: center;
    grid-template-columns: 10rem 3rem 3rem;
    height: 3rem;
}
.button{
    color: white;
    display: inline-flex;
    align-items: center;    
    justify-content: center;
    background-color: var(--main-color);   
    border-radius: 0.5rem;
    gap: 0.2rem;
    transition: 0.3s;
}
.button:hover{
    color:  var(--text-color-white);
    background-color: var(--main-color-hover);
}

.btn-profile{
    background-color: var(--main-color);
    display: flex;
    align-items: center;  
    justify-content: center;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.btn-profile:hover{
    background-color: var(--main-color-hover);
}
.icon-btn{
    font-size: 1.5rem; 
    color: var(--text-color-white);
}
/*#endregion profie_buttons*/

/*#region skills*/
.skills{
    margin-top: 3rem;
    text-align: center;   
}
.skills_area{
    margin-top: 2rem;
    justify-content: center;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.skill_data{
    display: flex;
    justify-content: flex-start;
    height: 2.5rem;
    font-size: 1.2rem;   
}
.skill_name{
    margin-left: 0.5rem;
}
.bi-check-circle{
    color: var(--main-color);
}
/*#endregion skills*/

/*#region proyects*/
.proyects{
    margin-top: 2rem;
}
.proyect_header{
    text-align: center;
}
.proyects_container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,282px);
    justify-content: center;
    gap: 1.5rem;
}
.proyect_card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}
.proyect_card img{
    width: 100%;
    height: 100%;
}
.proyect_modal{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    
    border-radius: 1rem;
    padding: 20px;
    background: rgba(50, 48, 48, 0.75);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.059);

    display: grid;
    align-items: center;
    justify-content: start;
}
.proyect_title{
    color: var(--text-color-white);
}
.proyect_button{
    display: inline-flex;
    padding: 0rem 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: var(--text-color-white); 
    background-color: var(--main-color);
}
.colored:before{
    color: var(--text-color-white);
    text-shadow: 0 4px 30px rgb(0, 0, 0);
    font-size: 1.8rem; 
}
/*#endregion proyects*/

/*#region footer*/
.footer_container{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    bottom: 0;
    color: var(--text-color-grey);
}
/*#endregion footer*/


@media (max-width: 550px) {
    .skills_area{
        display: grid;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
    }
    .proyects_container{
        grid-template-columns: repeat(1,282px);
    }
}

@media (min-width: 550px) and (max-width: 800px) {
    .skills_area{
        display: grid;
        grid-template-columns: 10rem 10rem;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
    }    
    .proyects_container{
        grid-template-columns: repeat(1,282px);
    }
}
